<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>

    <channel>
        <name>[B][COLOR yellow]OPÇÃO: [/COLOR][COLOR white] CANAIS AO VIVO[/COLOR][/B]</name>
        <thumbnail>https://imgur.com/a/lNHb7E8</thumbnail>
        <fanart>https://example.com/launch-fanart.jpg</fanart>
        <info>Conteúdo de lançamentos recentes</info>
        <externallink>https://github.com/AnimeSoul8585/BlackPlay-Tv/raw/refs/heads/main/BlackPlay%20Tv/TV%20AO%20VIVO/Lista_Selecionada_v2.txt</externallink>
    </channel>
    
    <channel>
        <name>[B][COLOR yellow]OPÇÃO: [/COLOR][COLOR white] ESPORTES[/COLOR][/B]</name>
        <thumbnail>https://imgur.com/a/lNHb7E8</thumbnail>
        <fanart>https://example.com/action-fanart.jpg</fanart>
        <info>Conteúdo de Ação</info>
        <externallink>https://example.com/action-list.txt</externallink>
    </channel>
    
    </channels>
     
